@font-face {
    font-family: Impact, sans-serif;
    src: url(fonts/Impact/impact.ttf);
    font-weight: bold;
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Light'), local('OpenSans-Light'), url(https://fonts.gstatic.com/s/opensans/v13/DXI1ORHCpsQm3Vp6mXoaTXhCUOGz7vYGh680lGh-uXM.woff) format('woff');
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(https://fonts.gstatic.com/s/opensans/v13/cJZKeOuBrn4kERxqtaUH3T8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: local('Open Sans Semibold'), local('OpenSans-Semibold'), url(https://fonts.gstatic.com/s/opensans/v13/MTP_ySUJH_bn48VBG8sNSnhCUOGz7vYGh680lGh-uXM.woff) format('woff');
}

/* Mobile styles */
@media (max-width: 768px) {
  .menu-icon {
    display: block !important;
  }

  .nav-links {
    display: none;
    flex-direction: column;
    margin-top: 10px;
    background-color: #444;
    padding: 10px;
    border-radius: 5px;
  }
}

@keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}

@-moz-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-webkit-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-o-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-ms-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

#background {
  background-image: url(../../assets/images/lighthouse.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  display: grid;
  grid-template-areas: "navbar" "content" "nav-footer";
  height: 100vh;
}

content {
  padding: 2% 0%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navbar {
  max-height: fit-content;
  background-color: #333;
  padding: 0.5% 20%;
  color: rgb(197, 197, 197);
  position: relative;
  box-shadow: 0px -10px 10px 20px rgba(0, 0, 0, .6);
  font-family: "Open Sans";
  font-weight: 300;
}

.menu-toggle {
  display: none;
}

.menu-icon {
  font-size: 24px;
  cursor: pointer;
  display: none;
}

.rss-button {
  position: relative;
  height: fit-content;
  width: fit-content;
  top: 5%;
  display: block;
  float: right;
	
  img {
  	width: 18px;
  	height: 18px;
  }
}

.nav-links {
  display: flex;
  gap: 15px;
}

.nav-links>li {
  list-style: none;
}

.nav-links a:hover {
  font-weight: bold;
  color: white;
  text-shadow: rgb(255, 255, 255) 1px 0 10px;
}

.nav-links a {
  color: rgb(160, 160, 160);
  text-decoration: none;
}

.copyright a:link {
  text-decoration: none;
  color: gray;
}

.copyright a:active {
  color: rgb(160, 160, 160);
}

.copyright a:visited {
 color: rgb(130, 130, 130);
}


.dropdown .drop-button {
  cursor: pointer;
  border: none;
  background-color: inherit;
  font-family: inherit;
  color: rgb(160, 160, 160);
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-weight: 300;
}

.drop-button:hover {
  font-weight: bold;
  color: white;
  text-shadow: rgb(255, 255, 255) 1px 0 10px;
}

.drop-button :focus-visible {
  outline: -webkit-focus-ring-color auto 1px;
}

.dropdown-content {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: #2e2e2e 2px;
  border-radius: 3px;
  background-color: #222222;
  display: none;
  position: absolute;
  min-width: 170px;
  min-height: 45px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  width: 10%;
}

.dropdown-content a {
  padding: 5px;
}

.show {
  display: flex;
}

.logo {
  margin-bottom: 5%;

  transition: all 1s;
  
  animation: fadeIn linear 1s;
  -webkit-animation: fadeIn linear 1s;
  -moz-animation: fadeIn linear 1s;
  -o-animation: fadeIn linear 1s;
  -ms-animation: fadeIn linear 1s;

  cursor: pointer;
}

.word-animation
{
  img {
    transition: transform 0.1s;
  }
  padding: 0 2px;
}

.word-animation-two {
  img {
    transition: transform 0.5s;
  }
  padding: 0 2px;
  position: relative;
  left: 18px;
}

.word-animation-three {
  img {
    transition: transform 0.2s;
  }
  padding: 0 2px;
  position: relative;
  top: 3px;
  left: 6px;
}

.word-animation-four {
  img {
    transition: transform 0.3s;
  }
  padding: 0 2px;
  position: relative;
  top: 9px;
  left: -1px;
}

.word-animation-five {
  img {
    transition: transform 0.5s;
  }
  padding: 0 2px;
  position: relative;
  left: -10px;
}

.word-animation:hover
{
  img {
    transform: translateY(-15px);
  }
}

.word-animation-two:hover {
  img {
    transform: translateY(-10px) rotate(15deg);
  }
}

.word-animation-three:hover {
  img {
    transform: translateY(-12px) rotate(10deg);
  }
}

.word-animation-four:hover {
  img {
    transform: translateY(-12px) rotate(-12deg);
  }
}

.word-animation-five:hover {
  img {
    transform: translateY(-10px) rotate(360deg);
  }
}

.content-text {
  opacity: 1;

  text-shadow: 0px 0px 15px rgb(0 0 0);

  animation: fadeIn linear 2;
  -webkit-animation: fadeIn linear 2s;
  -moz-animation: fadeIn linear 2s;
  -o-animation: fadeIn linear 2s;
  -ms-animation: fadeIn linear 2s;

  position: relative;
  bottom: 7%;

  img 
  {
    filter: drop-shadow(0px 0px 15px rgb(0 0 0));
  }

  p
  {
    scale: 0.6;
  }

  h1
  {
    scale: 0.9;
  }
}

.content-text h1 {
  cursor: default;
}

.content-text p {
  cursor: default;
  grid-auto-flow: column;
  display: grid;
}

.profile {
  border-radius: 50%;
  width: 15%;
  max-width: 20%;
  min-width: 250px;
}

.logo-shadow-container {
    border-radius: 150px;
    width: 13%;
    height: 10%;
    max-width: 20%;
    min-height: 250px;
    min-width: 250px;
    -webkit-box-shadow: -10px 10px 10px rgba(0, 0, 0, .6);
    box-shadow: -10px 10px 10px rgba(0, 0, 0, .6);
}

.download-link {
  margin: 4% 0;
  font-size: 18px;
  font-family: Impact;
  font-weight: bold;
}

.socials{
  display: flex;
  justify-content: center;
  grid-gap: 20px;
}

.socials-logo{
  width: 50px;
  height: 50px;
}
  
h1 {
  color:azure;
  font-family: "Open Sans";
  font-weight: 600;
}

p {
  color:azure;
  font-family: "Open Sans";
  font-size: 21px;
  font-weight: 400;
}

body {
  text-align: center;
  height: 100%;
  margin: 0;
  
  background-repeat: repeat-y;
  background-size: cover;
  opacity: 1;
}

.nav-footer{
  height: 8%;
  bottom: 0px;
  box-shadow: rgba(0, 0, 0, 0.6) 0px -20px 10px;
  left: -10px;
  position: fixed;
  background-color: #2e2e2e;
  width: 110%;
  color: gray;
}

.copyright {
  margin: 0;
  padding: 1.5% 20%;
  float: left;
  font-family: "Open Sans";
  font-weight: 400;
  text-wrap-style: pretty;
}
