@font-face {
    font-family: Impact, sans-serif;
    src: url(fonts/Impact/impact.ttf);
    font-weight: bold;
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Light'), local('OpenSans-Light'), url(https://fonts.gstatic.com/s/opensans/v13/DXI1ORHCpsQm3Vp6mXoaTXhCUOGz7vYGh680lGh-uXM.woff) format('woff');
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(https://fonts.gstatic.com/s/opensans/v13/cJZKeOuBrn4kERxqtaUH3T8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: local('Open Sans Semibold'), local('OpenSans-Semibold'), url(https://fonts.gstatic.com/s/opensans/v13/MTP_ySUJH_bn48VBG8sNSnhCUOGz7vYGh680lGh-uXM.woff) format('woff');
}

/* Mobile styles */
@media (max-width: 768px) {
  .menu-icon {
    display: block !important;
  }

  .nav-links {
    display: none;
    flex-direction: column;
    margin-top: 10px;
    background-color: #444;
    padding: 10px;
    border-radius: 5px;
  }
}

@keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}

@-moz-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-webkit-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-o-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-ms-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

.navbar {
  background-color: #333;
  padding: 0.5% 20%;
  color: rgb(197, 197, 197);
  position: relative;
  box-shadow: 0px -10px 10px 20px rgba(0, 0, 0, .6);
  font-family: "Open Sans";
  font-weight: 300;
}

.menu-toggle {
  display: none;
}

.menu-icon {
  font-size: 24px;
  cursor: pointer;
  display: none;
}

.nav-links {
  display: flex;
  gap: 15px;
}

.nav-links>li {
  list-style: none;
}

.nav-links a {
  color: rgb(160, 160, 160);
  text-decoration: none;
}

content {
  padding: 2% 0%;
}

.logo {
  margin-bottom: 5%;

  transition: all 1s;
  
  animation: fadeIn linear 1s;
  -webkit-animation: fadeIn linear 1s;
  -moz-animation: fadeIn linear 1s;
  -o-animation: fadeIn linear 1s;
  -ms-animation: fadeIn linear 1s;
}

.content-text {
  opacity: 1;

  animation: fadeIn linear 2;
  -webkit-animation: fadeIn linear 2s;
  -moz-animation: fadeIn linear 2s;
  -o-animation: fadeIn linear 2s;
  -ms-animation: fadeIn linear 2s;
}

.profile {
  border-radius: 50%;
  width: 15%;
}

.logo-shadow-container {
  position: absolute;
  z-index: -1;

  -webkit-box-shadow: -10px 10px 10px rgba(0, 0, 0, .6);
  box-shadow: -10px 10px 10px rgba(0, 0, 0, .6);
}

.download-link {
  margin: 4% 0;
  font-size: 18px;
  font-family: Impact;
  font-weight: bold;
}

.socials{
  display: flex;
  justify-content: center;
  grid-gap: 20px;
}

.socials-logo{
  width: 50px;
  height: 50px;
}
  
h1 {
  color:azure;
  font-family: "Open Sans";
  font-weight: 600;
}

p {
  color:azure;
  font-family: "Open Sans";
  font-size: 21px;
  font-weight: 400;
}

body {
  text-align: center;
  height: 100%;
  margin: 0;
  
  background-repeat: repeat-y;
  background-size: cover;
  opacity: 1;
}

.nav-footer{
  height: 8%;
  bottom: 0px;
  box-shadow: rgba(0, 0, 0, 0.6) 0px -20px 10px;
  left: -10px;
  position: fixed;
  background-color: #2e2e2e;
  width: 101%;
  color: gray;
}

.copyright {
  margin: 0;
  padding: 1.5% 20%;
  float: left;
  font-family: "Open Sans";
  font-weight: 400;
}

.dropdown .drop-button {
  cursor: pointer;
  border: none;
  background-color: inherit;
  font-family: inherit;
  color: rgb(160, 160, 160);
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-weight: 300;
}

.drop-button :focus-visible {
    outline: -webkit-focus-ring-color auto 1px;
}

.dropdown-content {
  align-items: center;
  justify-content: center;
  border: #2e2e2e 2px;
  border-radius: 3px;
  background-color: #222222;
  display: none;
  position: absolute;
  min-width: 170px;
  min-height: 45px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.show {
  display: flex;
}
